@import "../variables.scss";

.home {
  background: linear-gradient(180deg, #fff 0%, #fff 30%, #22e791 40%, #000 70%, #000 100%);
  min-height: 100vh;
}

.cc-revoke {
  display: none !important;
}

#breakfast p, #home-lunch-menu p, #alacarte p {
  font-size: 40px;
  margin-bottom: 0;
  font-style: italic;
}

#alacarte p {
  color: var(--default);
}

.page {
  padding-top: 70px;
}

.about-us-img {
  text-align: right;
}

.about-us-el1 {
  position: absolute;
  top: -30%;
  left: 0;
  height: 400px;
}

.about-us-el2 {
  height: 100px;
  margin-left: auto;
}

.about-us-el3 {
  position: absolute;
  bottom: -10%;
  left: 20%;
  height: 250px;
}

.breafast-img1 {
  position: absolute;
  left: 10%;
  bottom: 0;
  height: 300px;
}

.breafast-img2 {
  position: absolute;
  bottom: 0;
  left: 35%;
  height: 250px;
}

.breakfast-img3 {
  padding-bottom: 30px;
  height: 250px;
  margin: auto;
}

.breafast-el1 {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 200px;
}

.lunch-menu-text, .alacarte-text {
  padding-top: 30px;
  position: relative;
}

.lunch-menu-img1 {
  position: absolute;
  left: 40%;
  bottom: 0;
  height: 300px;
}

.lunch-menu-img2 {
  position: absolute;
  height: 300px;
  left: 20%;
  bottom: 0;
}

.lunch-menu-el1 {
  position: absolute;
  height: 300px;
  left: 40%;
  bottom: 20%;
}

.lunch-menu-el2 {
  position: absolute;
  height: 150px;
  right: 0;
  top: 0;
}

.alacarte-img1 {
  position: absolute;
  height: 350px;
  left: 20%;
  bottom: 0;
}

.alacarte-img2 {
  position: absolute;
  left: 10%;
  bottom: 0;
  height: 250px;
}

.alacarte-img3 {
  position: absolute;
  left: 40%;
  bottom: 0;
  height: 350px;
}

.alacarte-img4 {
  position: absolute;
  right: 10%;
  bottom: 0;
  height: 250px;
}

.alacarte-images {
  min-height: 500px;
}

.alacarte-text {
  text-align: right;
  max-width: 50%;
  margin-left: auto;
}

.alacarte-el1 {
  position: absolute;
  top: 0;
  right: 0;
  height: 200px;
}

.about-us-text {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
  text-align: right;

  p:nth-child(6) {
    font-style: italic;
    font-size: 28px;
  }

  p {
    text-align: left;
  }
}

@media only screen and (max-width: $tablet-resolution) {

}

@media only screen and (max-width: $mobile-resolution) {
  #breakfast p, #home-lunch-menu p, #alacarte p {
    font-size: 26px;
  }

  .lunch-menu-text, .alacarte-text {
    padding-top: 0px;
    width: 100%;
    max-width: 100%;
  }

  .alacarte-img1 {
    height: 300px;
    left: 10%;
    top: 0;
    right: unset;
    padding-top: 20px;
  }

  .alacarte-img2 {
    bottom: 0;
    left: 0;
    top: unset;
    padding-bottom: 20px;
    height: 250px;
  }

  .alacarte-img3 {
    position: relative;
    padding-bottom: 20px;
    height: 250px;
    left: 0;
  }

  .alacarte-col2 {
    display: flex;
    flex-direction: column-reverse;
  }

  .alacarte-img4 {
    bottom: unset;
    top: 20%;
    right: 0;
  }

  .breakfast-col1, .lunch-menu-col2, .alacarte-col1 {
    min-height: 400px;
    overflow: hidden;
  }

  .breafast-img1 {
    top: 0;
    height: 300px;
  }

  .breafast-img2 {
    right: 0;
    bottom: 0;
    top: unset;
    left: unset;
    height: 200px;
  }

  .breakfast-img3 {
    padding-top: 20px;
    padding-bottom: 0px;
    width: 100%;
    height: auto;
  }

  .breakfast-col2 {
    display: flex;
    padding-top: 20px;
    flex-direction: column-reverse;
  }

  .lunch-menu-col1 {
    display: flex;
    flex-direction: column-reverse;
  }

  .lunch-menu-img1 {
    left: 0;
    top: 0;
    right: unset;
    height: 250px;
    padding-top: 20px;
  }

  .lunch-menu-img2 {
    right: 0;
    left: unset;
    bottom: 0;
    height: 250px;
    padding-bottom: 20px;
  }

  .lunch-menu-img3 {
    height: 250px;
  }

  .about-us-text {
    p {
      text-align: center;
      margin-bottom: 0;
    }
  }

  .about-us-img {
    text-align: center;
    margin-bottom: 20px;
  }
}
